<!DOCTYPE html>
<html>
<head>
<h1><center>Order Management System</center>
</h1>
</head>
<body>
<center>
<table width="70%" border="0" height="500">
<tr>
<td colspan="2" bgcolor="#aaa" height="100">
<div style="float:left">Name</br></div>
<div style="float:right"><a ng-click="adminlogout()">Logout</a></div>
</td>
</tr>

<tr valign="top">
<td bgcolor="#b5dcb3" width="100" height="500">
<center>Create-Items!</center>
<center>
<tr>
<div>
<form name="ciForm">
<label>Item Name :</br></label>
  <input type="text" id= "itemName" name= "itemName" ng-model="admin.itemName"></br>
    </br>
<label>Item No :</br></label>
  <input type="number" id= "number" name= "number" ng-model="admin.number"></br>
    </br>
<label>Image : </br></label>
  <input type="image" id="image" name="image" ng-model="admin.image"></br>
    </br>
<label>Price :</br></label>
  <input type="number" id= "price" name= "price" ng-model="admin.price"></br>
    </br>
<label>Quantity :</br></label>
  <input type="number" id= "quantity" name= "quantity" ng-model="admin.quantity"></br>
    </br>
<label>Category :</br></label>
<select id = "category" ng-model = "admin.category">
<option value = "books">Books</option>
<option value = "furniture">Furniture</option>
<option value = "grocery">Grocery</option>
<option value = "clothing">Clothing</option>
</select><br/>

<button ng-click="createitem(admin)">Create</button>
<button type="reset" ng-click="resetciForm()">Reset</button>
</form>
</div>
</tr>
</center>
</td>
</tr>
      

   
      
