<!DOCTYPE html>
 <html>
  <head>
   <h1><center>Add To Cart!</center></h1>
    </head>
<body>
 <center>
  <table width="70%" border="0" height="400">
   <tr>
    <td colspan="1" bgcolor="#aaa" height="100">
     <div style="float:left"><button ng-click="userorders()">Orders</button></br></div>
      <div style="float:right"><button ng-click="userlogout()">Logout</button></div>
       </td>
        </tr>
<tr valign="top">
 <td bgcolor="#b5dcb3" width="100" height="300"></br>
  <div>
   <center>Create-Order!</center>
    <center>
     <table width="600" border="1">
      <tr>
        <th>Item Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
        
        </tr>
        <tr ng-repeat = "item in cartList">  
        <td><center>{{item.itemName}}</center></td>
        <td>{{item.image}}</td>
        <td>{{item.price}}</td>
        <td><center><input type="number" id="quantity" name="quantity" ng-model="item.quantity">
        </center></td>
        <td><center>{{item.total = item.price * item.quantity}}</center></td>
        <td><center><button ng-click="deleteItem($index)">Delete</button></center>
        </tr>

        </table>
      </center>
    </div>
  </td>
</tr>
<tr>

  <td colspan="1" bgcolor="#aaa" height="100">
   <div style="float:left">Address :</br></div></br>
   <button ng-click="itemList()">Item-List</button>
      <div style="float:right"><button ng-click="createOrder(item)">Create-Order</button>
    </br>
  </td>
</tr>
          
