<!DOCTYPE html>
 <html>
  <head>
   <h1><center>Add To Cart!</center></h1>
    </head>
<body>
 <center>
  <table width="70%" border="0" height="400">
   <tr>
    <td colspan="1" bgcolor="#aaa" height="100">
     <div style="float:left"><a ng-click="userorders()">Orders</a></br></div>
      <div style="float:right"><a ng-click="userlogout()">Logout</a></div>
       </td>
        </tr>
<tr valign="top">
 <td bgcolor="#b5dcb3" width="100" height="300"></br>
  <div>
   <center>Create-Order!</center>
    <center>
     <table width="600" border="1">
      <tr>
        <th>Item Name</th>
        <th>Item No</th>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        </tr>
        <tr ng-repeat = "item in category.items">  
        <td>{{item.itemname}}</td>
        <td>{{item.itemno}}</td>
        <td>{{item.image}}</td>
        <td>{{item.price}}</td>
        <td><input type="number" id="quantity" name="quantity" ng-model="item.quantity"></td>
        </tr>

        </table>
      </center>
    </div>
  </td>
</tr>
<tr>

  <td colspan="1" bgcolor="#aaa" height="100">
   <div style="float:left">Address</br></div>
     <div style="float:right"><button ng-click="usercreate(item)">Create</button></div>
    </br>
  </td>
</tr>
          
