<h1>User Orders!</h1>
  <nav class="navbar navbar-default column left">
    <div class="container-fluid">
      <a ng-click="userlogout()">Logout</a>
        </br>
          </div>
            </nav>
<nav class="navbar navbar-default column left">
  <div class="container-fluid">
    <a ng-click="usercreateorder()">Create-Order</a>
      </br>
        </div>
          </nav>     
<nav class="navbar navbar-default column left">
 <div class="container-fluid">
  <table border="2">
   <div>Orders!</div>
    <th>Order ID</th> 
     <th>Date</th>
      <th>Item</th>
        <th>Price</th> 
          <th>Address</th>
           </br>
            </div>
              </nav>
               </table>
               

                          