<h1><center>Order Management System</center></h1>
 <center>
  <table width="70%" border="0" height="600">
   <tr>
    <td colspan="2" bgcolor="#aaa" height="50">
     <div style="float:left">
      <div style="padding: 30px 50px 30px 50px">Name : {{user.userName}}</div>
       </div>
        <div style="float:right">
         <div style="padding: 30px 50px 0px 20px">
          <button type="button" class="btn btn-primary btn-sm" ng-click="userLogout()">Logout</button></div></div>
         </td>
       </tr>
<tr valign="top">
 <td bgcolor="#b5dcb3" width="16%">
  <center>Categories!</center></br>
   <div style="padding: 10px 50px 30px 50px">
    <label><input type="checkbox" id="books" name="books" ng-model="searchCategory.books" />
     <a>Books</a></label></br></br>
      <label><input type="checkbox" id="furniture" name="furniture" ng-model="searchCategory.furniture" />
       <a>Furniture</a></label></br></br>
        <label><input type="checkbox" id="grocery" name="grocery" ng-model="searchCategory.grocery" />
         <a >Grocery</a></label></br></br>
          <label><input type="checkbox" id="clothing" name="clothing" ng-model="searchCategory.clothing"/>
           <a>Clothing</a></label></br>
          </td>
        </div>
       
<td bgcolor="#eee" width="0" height="500">
 <center><div>Items!</div></center>
  <div style="padding: 20px 10px 10px 20px">
   <center>
    <div id="table-wrapper">
     <div id="table-scroll">
      <table width="900" border="1">
       <tr>
        <th><div style="padding: 20px"><center>Item Name</center></th>
        <th><div style="padding: 20px"><center>Price</center></th>
        <th><div style="padding: 20px"><center>Action</center></th>
        </tr>
<tr ng-repeat = "item in itemList | bygenre: searchCategory">  
  <td><center>{{item.itemName}}</center></td>
   <td><center>{{item.price}}</center></td>
     <td><center style="margin: 10px"><button type="button" class="btn btn-primary btn-sm" ng-click="addtocart(item)">
            Add-To-Cart</button></center></td>
         </tr>
        </table>
       </div>
      </div>
     </center>
    </div>
   </td>
  </tr>
<tr>
 <td colspan="2" bgcolor="#aaa" height="50">
   <div style="float:left">
    <div style="padding: 30px 50px 30px 50px">
     <button type="button" class="btn btn-primary btn-sm" ng-click="userOrders()">Orders</button></div></div>
      <div style="padding: 30px 50px 30px 50px">
       <button type="button" class="btn btn-primary btn-sm" ng-click="createOrder()">Create-Order</button>
      </div>
     </td>
    </tr>
   </table>
  </center>





